.progresssteps {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 20px;
}
.progresssteps .container {
  width: 50%;
  text-align: center;
  position: relative;
}
.progresssteps .progress-container {
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}
.progresssteps .progress-container::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #c2bfbf;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: -1;
  /* transition: all 0.3s ease; */
}
.progresssteps .progress_bar {
  width: 33px;
  height: 4px;
  background-color: #3658c7;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 0;
  transition: all 0.3s ease;
}
.progresssteps .circle {
  width: 33px;
  line-height: 30px;
  border-radius: 50%;
  border: 3px solid #c7c7c7;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  z-index: 2;
  transition: all 0.4s ease-in;
}
.progresssteps .circle.active {
  border-color: #3658c7;
}
.progresssteps .btn {
  width: 80px;
  line-height: 30px;
  background-color: #0c72f8;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.progresssteps .btn:disabled {
  background-color: #c4bdbd;
  cursor: default;
}
.progresssteps .btn:disabled:active {
  transform: scale(1);
}
.progresssteps .btn:active {
  transform: scale(0.9);
}
