.Card{
    width: 400px;
    height: 400px;
    background-color: rgb(241, 238, 238);
    .header{
        width: 100%;
        height: 40%;
        background-color: rgb(125, 210, 236);
        border-bottom: 1px solid rgb(82, 80, 80);
        padding: 10px;
        box-sizing: border-box;
    }
    .content{
        width: 100%;
        height: 60%;
    }

}