.hoverBoard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030303;
  background-color: #111;
}
.hoverBoard .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.hoverBoard .container .square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: all 2s ease;
}
.hoverBoard .container .square:hover {
  transition-duration: 0s;
}
